/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Poppins', Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    z-index: 199;
    
}
.body{
    z-index: 198;
}
:root{
    --primaryColor: rgb(3, 3, 78);
    /* --primaryColor: #FF80AB   ; */
    --secColor: rgb(219, 20, 20);
    /* --secColor: #EC407A; */
}
.gradient{
    /* background-image: linear-gradient(to right, var(--primaryColor), var(--secColor)); */
}

.bg-blue{
    background-color: var(--primaryColor);
}
.bg-sec{
    background-color: var(--secColor);
}
.bg-blue-sec{
    background-image: linear-gradient(to right, 
    var(--primaryColor), var(--primaryColor), var(--primaryColor), var(--primaryColor), var(--primaryColor), 
    var(--primaryColor), var(--primaryColor), var(--primaryColor), var(--primaryColor), var(--primaryColor), var(--primaryColor), var(--primaryColor), var(--primaryColor), var(--primaryColor), var(--primaryColor), var(--primaryColor), 
    var(--secColor), var(--secColor), var(--secColor), var(--secColor), var(--secColor), var(--secColor), var(--secColor), var(--secColor), var(--secColor), var(--secColor), var(--secColor),
    var(--secColor), var(--secColor), var(--secColor), var(--secColor), var(--secColor))
    ;
}
.text-blue{
    color: var(--primaryColor);
}
.text-sec{
    color: var(--secColor);
}
.border-primary{
    border: 1px solid var(--primaryColor);
}
.border-sec{
    border: 1px solid var(--secColor);
}
.border-bottom-primary{
    border-bottom: 1px solid var(--primaryColor);
}
.border-bottom-sec{
    border-bottom: 1px solid var(--secColor);
}
.navigation a:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.25s ease-in-out;
    color: black;
}

.text-small{
    font-size: 12px;
}

.h-90{
    height: 90%;
}
.h-90vh{
    height: 100vh;
}
.-left-100{
    left: -100%
}
.small{
    font-size: 10px;
}
.line-30{
    line-height: 30px;
}
.line-25{
    line-height: 25px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.information, .pending{
    background-color: rgb(146, 146, 5);
    color: white
}
.success, .active{
    background-color: rgb(5, 109, 5);
    color: white
}
.danger, .expired{
    /* background-color: var(--secColor); */
    background-color: rgb(96, 2, 2);
    color: white
}
.border-information, .border-pending{
    border: 2px solid var(--primaryColor);
}
.border-success, .border-active{
    border: 2px solid rgb(5, 109, 5);
}
.border-danger, .border-expired{
    /* background-color: var(--secColor); */
    border: 2px solid rgb(96, 2, 2);
    /* background-color: var(--secColor); */
}
.formerror{
    color: rgb(154, 7, 7);
}


input::placeholder{
    color: rgba(0, 0, 0, 0.7);
}
.input:focus{
    border: 1px solid var(--primaryColor);
}


.tableRow:hover{
    background-color: rgb(11, 8, 96, 0.05);
}